h1 {
  border: medium outset;
  padding: 0.5em;
}

h2 {
  border-left: thick solid;
  padding-left: 0.3em;
}

.bibrec .heading p,
.toc .heading p {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: larger;
  border-left: thick solid;
  padding-left: 0.3em;
}

.toc .chapters > li {
  list-style-type: upper-roman;
}

.example {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 0.25em;
  border: thin dashed black;
}

.example p {
  margin: 0.25em;
  padding: 0em;
}

.example .set {
  border: thin dotted gray;
  margin: 0.25em;
  padding: 0em;
  clear: both;
  width: 99%;
}

.example .set .auth {
  margin: 0em;
  padding: 0em 2em 0em 0.5em;
  display: compact;
  width: 45%;
  float: left;
}

.example .set .edit {
  margin: 0.25em 0em;
  padding: 0em 0.5em 0em 2em;
  display: compact;
  width: auto;
}

*[lang="ja"] {
  line-height: 1.5em;
}
