h1 {
  border: medium outset;
  padding: 0.5em;
  page-break-before: right;
  page-break-after: avoid;
}
h2 {
  border-left: thick solid;
  padding-left: 0.3em;
  page-break-before: always;
  page-break-after: avoid;
}
h3 {
  page-break-after: avoid;
}
/* these styles are not supported or do not fit to today's browsers
h4 {
  display: run-in;
  page-break-after: avoid;
}

h4:after {
  content: ": ";
}
kbd {
  font-family: "Courier New", "Courier", monospace;
  font-weight: bolder;
}
*/
.chapters > li {
  list-style-type: upper-roman;
  counter-reset: rule; /* counter does not work in mozilla or in msie for now */
}
.chapters > li {
  list-style-type: upper-roman; /* list-style-type needs to be written twice.  mozilla's bug? */
}
/* redundant; <ol start="...">...</ol> will suffice
.rules > li:before {
  content: counter(rule) ".";
  counter-increment: rule;
}
*/
.bib > p.h,
.toc > p.h {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: larger;
  border-left: thick solid;
  padding-left: 0.3em;
}
.example {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 0.25em;
  border: thin dashed black;
}
.example p {
  margin: 0.25em;
  padding: 0em;
}
.set {
  border: thin dotted gray;
  margin: 0.25em;
  padding: 0em;
  clear: both;
  width: 99%;
}
.example .set .auth {
  /* a > b selector does not work in msie */
  margin: 0em;
  padding: 0em 2em 0em 0.5em;
  display: compact;
  width: 45%;
  float: left;
}
.example .set .edit {
  margin: 0.25em 0em;
  padding: 0em 0.5em 0em 2em;
  display: compact;
  width: auto;
}
blockquote.example + * {
  clear: both;
}
p + br {
  margin: 0em;
  padding: 0em;
}
*[lang="ja"] {
  line-height: 1.5em;
}
