*[lang="en"] {
  display: compact;
}
*[lang="ja"] {
  display: compact;
}
h1 span[lang] + span[lang],
h2 span[lang] + span[lang],
h3 span[lang] + span[lang],
p span[lang] + span[lang] {
  /* insert line break between languages */
  display: block;
}
/* run-in is not supported yet
p span[lang] + span[lang] + * {
  display: run-in;
}
*/
